<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet"> <!-- traemos enlace de la tipografia elegida -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"> <!-- traemos enlace de iconos --> 

    <link rel="stylesheet" href="css/header.css">  <!-- traemos la ruta css de esta seccion -->
    <title>Login</title>
   

    <title>Sección login</title>
</head>
<header>     <!-- INICIO DEL HEADER VERSION SAMI -->



        <div>   
            <nav> <i class="fa fa-bars burger"></i> <!-- ICONO MENU HAMBURGUESA -->
     <ul>   <!-- COMENZAMOS LA LISTA DE LOS ENLACES DEL MENU -->
                        
             <li> <a href="#"> Home</a> </li>
             <li> <a href="#"> Productos </a> </li> 
             <li> <a href="#"> Envios </a> </li> 
             <li> <a href="#"> Preguntas frecuentes </a> </li> 
             <li> <a href="#"> Contacto </a> </li> 
           </ul>
              
            
    </ul>


        </nav>
        <figure> 
         <img src="images/LOGO PRINCIPAL.png" alt= "Logo R-TIK"> <!-- LOGO DE LA MARCA -->
        </figure>
         </div>

   
        
      <!--FORMULARIO BARRA DE BUSQUEDA-->

      <div 
            class="barra-busqueda" action="#" method="GET">
   

        <input type="text" placeholder="buscar" required class="input">

        <i class="fas fa-search"></i></div >  <!--ICONO LUPA-->
        <div class="submit">

      </div>

    
    <br>    <!-- salto de linea-->
    <nav> 
        <div i class="fas fa-shopping-cart"> </i> </nav><!-- ICONO DE CARRITO-->
    <br> <!-- salto de linea-->
         <section> <a href="#"> Carrito </a>  <!-- ENLACE DE CARRITO-->
        </section>
   
  

</header>